<div class="container">
<form>
  <div class="mb-3">
    <label for="name" class="form-label">nome:</label>
    <input type="email" class="form-control" id="name" placeholder="digite o seu nome">
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">price:</label>
    <input type="email" class="form-control" id="preço" placeholder="digite o preço">
  </div>

  <div class="mb-3">
    <label for="cat" class="form-label">category:</label>
    <input type="email" class="form-control" id="categoria" placeholder="digite a categoria">
  </div>

</form>

</div>
