<div class="container">
  <h1>Cadastro de Produto:</h1>
<form [formGroup]="formGroupProduct">
  <div class="mb-3">
    <label for="name" class="form-label">nome:</label>
    <input
    formControlName="name"
    type="text" class="form-control" id="name" placeholder="digite o seu nome">
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">price:</label>
    <input
    formControlName="price"
    type="text" class="form-control" id="preço" placeholder="digite o preço">
  </div>

  <div class="mb-3">
    <label for="cat" class="form-label">category:</label>
    <input
    formControlName="category"
    type="button" class="form-control" id="category" placeholder="digite a categoria">
  </div>
  <button type="button"
  class="btn btn-danger"
  (click)="update()"
  >salvar</button>

</form>

</div>
